<div class="content mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="links.MutltiBar">Ver Multi Bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.HorMultiBar">Hor Grpd/Stkd bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.stackgroupedmultibar">Ver Grpd/Stkd bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.DiscreteBar">Discrete Bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.stackedarea">Stacked Area</a>
        <a class="mdl-navigation__link" [routerLink]="links.viewfinder">Area View Finder</a>
        <a class="mdl-navigation__link" [routerLink]="links.cumulativeline">Cumulative Line</a>
        <a class="mdl-navigation__link" [routerLink]="links.linebar">Line/Bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.SimpleLine">Simple Line</a>
        <a class="mdl-navigation__link" [routerLink]="links.bulletchart">Bullet </a>
        <a class="mdl-navigation__link" [routerLink]="links.pie">Pie/Donught</a>
        <a class="mdl-navigation__link" [routerLink]="links.scatteredbbl">Scatter/Bubble</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content page-content">
    <router-outlet></router-outlet>
  </main>
</div>
