<div class="content mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="links.MutltiBar">Multi Bar Chart</a>
        <a class="mdl-navigation__link" [routerLink]="links.HorMultiBar">Horizontal Multi-Bar Chart</a>
        <a class="mdl-navigation__link" [routerLink]="links.DiscreteBar">Discrete Bar Chart</a>
        <a class="mdl-navigation__link" [routerLink]="links.stackgroupedmultibar">Stacked Grouped Multi bar</a>
        <a class="mdl-navigation__link" [routerLink]="links.stackedarea">Stacked Area</a>
        <a class="mdl-navigation__link" [routerLink]="links.SimpleLine">Simple Line Chart</a>
        <a class="mdl-navigation__link" [routerLink]="links.bulletchart">Bullet Chart</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content page-content">
    <router-outlet></router-outlet>
  </main>
</div>
